.link {
  overflow: hidden;
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
  transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.4, 1.03), box-shadow 0.1s ease-in-out, opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
  box-shadow: 0 1px 3
  0px rgba(0, 0, 0, 0.1);
}

.blur {
  filter: blur(2px) grayscale(100%);
  opacity: 0.8;
}

.focus {
  filter: grayscale(0%) blur(0px);
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .link {
    width: calc(100%/3);
    height: 33vw;
  } 
}

@media screen and (max-width: 700px) {
  .link {
    width: 50%;
    height: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .link {
    width: 100vw;
    height: 250px;
  }
}

.link:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.1);
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: 3px solid white;
}

@media screen and (max-width: 900px) {
  .link:hover {
    transform: none;
    outline: none;
    border-radius: 0;
  }
}

.link:hover .postImg {
  filter: grayscale(0%);
}

.postImg {
  width: 100%;
  height: 100%;
}

.postInfo {
  position: absolute;
  bottom: 0;
  height: auto;
  padding: 120px 22px 22px 20px;
  color: white;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 1));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  transition: opacity 0.12s ease-in-out;
}

@media (any-pointer: fine) {
  .postInfo {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .postInfo {
    opacity: 1;
    padding: 120px 10px 10px 10px;
  }
}

.link:hover div.postInfo {
  display: block;
  opacity: 1;
}

.postTitle {
  font-weight: 700;
  font-size: 19px;
  padding-bottom: 0;
  margin-bottom: 0px;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .postTitle {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .postInfo {
    padding: 120px 20px 20px 20px;
  }
}

.postDate {
  opacity: 0.8;
  font-size: 13px;
  margin: 0;
}

.postImg {
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
}