.homeLinks {
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

@media screen and (max-width: 900px) {
  .homeLinks {
    width: 100wv;
    margin: 0;
    justify-content: center;
  }
}